<app-test [textFromParent]="text"></app-test>

<p>{{test | uppercase}}</p>
<p>{{test | lowercase }}</p>
<p>{{today | date: 'dd/MM/yy'}}</p>
<p>{{625 | percent}}</p>
<p>{{25|sqrt}}</p>


<h1>hi {{ userName }}</h1>
<ul>
    <li *ngFor="let  name of userNames">{{ name }}</li>
</ul>

<p *ngIf="showpara">this is a paragraph</p>

<div>
<img [src]="imgUrl" alt="Angular image" width="250" height="350">
</div>

<button (click)="handleClick()">{{ showOrHide}} paragraph</button>

 <app-student></app-student>
 <app-sportsman></app-sportsman>
 <app-entertainer></app-entertainer>